/*
 *
 * Custom classes
 *
 */

/* Custom blocks */
.ms-align-superposition {
	& .wp-block-column {
		display: grid;
		place-items: center;
		grid-template-areas: "mssame";
	}

	& .wp-block-column figure,
	& .wp-block-column h2 {
		grid-area: mssame;
	}
}

.ms-align-center {
	display: grid;
	place-items: center;

	@media (min-width: 1024px) {
		display: inherit;
	}
}

/* General */
.ms-clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.ms-dontshow {
	position: absolute !important;
	top: -9999rem;
	left: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Images */
.ms-contains-image {
	display: block;

	&:hover,
	&:active,
	&:focus {
		border: none;
	}
}

/* Lists */
.ms-list-unstyled {
	margin-left: 0;
	padding-left: 0;

	& li {
		list-style: none;
	}
}

.ms-list-inline {
	margin: 0;
	padding: 0;

	& li {
		display: inline-block;
		list-style: none;
	}

	& li + li {
		margin-left: calc(var(--wp--custom--magic-number--1) / 2);
	}
}

/* Text */
.ms-t-lg-r {
	@media (min-width: 1024px) {
		text-align: right;
	}
}

/* Position */
.ms-mn {
	position: relative;
	z-index: 99;
}
