<!-- wp:group {"tagName":"div","style":{"position":{"type":"sticky","top":"0px"}},"className":"ms-site-header","layout":{"type":"default"}} -->
<div class="wp-block-group ms-site-header">
	<!-- wp:template-part {"slug":"header","theme":"moare-steppe"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"ms-content"} -->
<main class="wp-block-group ms-content">
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group">
		<!-- wp:query-title {,"type":"archive"} /-->
		<!-- wp:term-description {"fontSize":"large"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:query {"layout":{"type":"constrained"},"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
	<div class="wp-block-query">
		<!-- wp:post-template {"className":"list-entries-default"} -->
			<!-- wp:post-title {"isLink":true} /-->
			<!-- wp:post-date {"fontSize":"small"} /-->
			<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->
			<!-- wp:post-excerpt {"fontSize":"base"} /-->
		<!-- /wp:post-template -->
	
		<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-numbers /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->

		<!-- wp:query-no-results -->
			<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
			<p></p>
			<!-- /wp:paragraph -->
		<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"ms-site-footer"} /-->