<!-- wp:group {"tagName":"div","style":{"position":{"type":"sticky","top":"0px"}},"className":"ms-site-header","layout":{"type":"default"}} -->
<div class="wp-block-group ms-site-header">
	<!-- wp:template-part {"slug":"header","theme":"moare-steppe"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","className":"ms-content"} -->
<main class="wp-block-group ms-content">
	<!-- wp:group {"tagName":"article","className":"ms-entry"} -->
	<article class="wp-block-group ms-entry">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"ms-site-footer"} /-->